In [3]:
import pandas as pd
import numpy as np

In [5]:
df_jan_2023 = pd.read_parquet('../data/yellow_tripdata_2023-01.parquet')
df_jan_2023.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

### Q1

In [6]:
print("Number of Colums: ", df_jan_2023.shape[1])

Number of Colums:  19

### Q2

In [7]:
df_jan_2023['duration'] = (df_jan_2023['tpep_dropoff_datetime'] - df_jan_2023['tpep_pickup_datetime']).dt.total_seconds() / 60
df_jan_2023.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333

In [8]:
std_deviation = df_jan_2023['duration'].std()
print("Standard deviation of duration: ", std_deviation)

Standard deviation of duration:  42.594351241920904

### Q3

In [9]:
df=pd.read_parquet('../data')

In [10]:
df['duration'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60

In [11]:
df_filtered = df[(df['duration'] >= 1) & (df['duration'] <= 60)]

fraction_remaining = len(df_filtered) / len(df)
print("Fraction of records remaining after removing outliers: ", fraction_remaining)

Fraction of records remaining after removing outliers:  0.9806717283752243

### Q4

In [13]:
from sklearn.feature_extraction import DictVectorizer
categorical_features = ['PULocationID', 'DOLocationID']
df_selected = df_jan_2023[categorical_features].astype(str)

data_dicts = df_selected.to_dict(orient='records')

vec = DictVectorizer()
vec.fit(data_dicts)

feature_matrix = vec.transform(data_dicts)
dimensionality = feature_matrix.shape[1]

print("Dimensionality of the feature matrix: ",dimensionality)

Dimensionality of the feature matrix:  518

### Q5

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
import numpy as np

df_jan = pd.read_parquet('../data/yellow_tripdata_2023-01.parquet')

df_jan['duration'] = (df_jan['tpep_dropoff_datetime'] - df_jan['tpep_pickup_datetime']).dt.total_seconds() / 60
df_jan = df_jan[(df_jan['duration'] >= 1) & (df_jan['duration'] <= 60)]

categorical_features = ['PULocationID', 'DOLocationID']
df_jan_selected = df_jan[categorical_features].astype(str) 

df_jan_dicts = df_jan_selected.to_dict(orient='records')

vec = DictVectorizer()
vec.fit(df_jan_dicts)

feature_matrix_jan = vec.transform(df_jan_dicts)

target = df_jan['duration']

model = LinearRegression()
model.fit(feature_matrix_jan, target)

predictions = model.predict(feature_matrix_jan)

rmse = np.sqrt(mean_squared_error(target, predictions))

print("RMSE on train: ", rmse)

RMSE on train:  7.649262444548727

### Q6

In [15]:
df_feb = pd.read_parquet('../data/yellow_tripdata_2023-02.parquet')

df_feb_selected = df_feb[['PULocationID', 'DOLocationID']].astype(str)

df_feb_dicts = df_feb_selected.to_dict(orient='records')

feature_matrix_feb = vec.transform(df_feb_dicts)

df_feb['duration'] = (df_feb['tpep_dropoff_datetime'] - df_feb['tpep_pickup_datetime']).dt.total_seconds() / 60

df_feb_filtered = df_feb[(df_feb['duration'] >= 1) & (df_feb['duration'] <= 60)]

target_feb = df_feb_filtered['duration']

predictions_feb = model.predict(feature_matrix_feb)

predictions_feb_filtered = predictions_feb[df_feb.index.isin(df_feb_filtered.index)]

rmse_validation = np.sqrt(mean_squared_error(target_feb, predictions_feb_filtered))

print("RMSE on validation: ", rmse_validation)

RMSE on validation:  7.811812767485678